.request {
  padding: 132px 0px 127px 0px;

  @include media-w($lg) {
    padding: 110px 0;
  }

  @include media-w($mdl) {
    position: relative;
    padding: 92px 0px 80px 0px;
  }

  @include media-w($smz) {
    padding: 40px 0px 33px 0px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 52px;

    @include media-w($lg) {
      margin-bottom: 40px;
    }

    @include media-w($mdl) {
      flex-direction: column;
    }

    @include media-w($smz) {
      margin-bottom: 17px;
    }
  }

  &__title {
    position: relative;
    max-width: 504px;
    padding-left: 80px;

    @include media-w($lg) {
      max-width: 400px;
      letter-spacing: 0.05em;
      margin-left: -10px;
    }

    @include media-w($mdl) {
      font-size: 22px;
      margin-bottom: 40px;
      max-width: 100%;
      margin-left: -30px;
    }

    @include media-w($smz) {
      font-size: 16px;
      padding-left: 0px;
      margin: 0px auto 20px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 50px;
      height: 3px;
      background-color: $accent;

      @include media-w($md) {
        left: 10px;
      }

      @include media-w($mdl) {
        width: 30px;
        left: 29px;
      }

      @include media-w($smz) {
        display: none;
      }
    }
  }

  &__text {
    max-width: 540px;
    @include overflow($row-4);

    @include media-w($lg) {
      max-width: 450px;
    }

    @include media-w($mdl) {
      max-width: 100%;
    }

    @include media-w($smz) {
      text-align: center;
      padding: 0px;
    }
  }

  &__form {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;

    @include media-w($lg) {
      margin-bottom: 8px;
    }

    @include media-w($mdl) {
      flex-wrap: wrap;
    }

    @include media-w($smz) {
      flex-direction: column;
      padding: 0px;
    }
  }

  &__form-input {
    padding: 20px 30px;
    width: 405px;
    height: 70px;
    margin-right: 30px;
    border: 1px solid $line;
    background-color: transparent;

    @include media-w($lg) {
      width: 332px;
      height: 59px;
    }

    @include media-w($mdl) {
      width: 324px;
      height: 59px;
      margin-right: auto;
      margin-bottom: 20px;

      &:first-child {
        margin-right: 30px;
      }
    }

    @include media-w($smz) {
      max-width: 100%;
      width: 100%;
      height: 50px;
      margin-bottom: 44px;
      padding: 0px 20px 0px 20px;

      &:first-child {
        margin-right: 0px;
        margin-bottom: 15px;
      }
    }
  }

  &__btn {
    padding: 22px 5px;

    @include media-w($lg) {
      padding: 10px 5px;
      height: 59px;
    }

    @include media-w($smx) {
      width: 177px;
      height: 50px;
    }

    @include media-w($smz) {
      margin: 0 auto;
    }

    @include media-w($xxsl) {
      margin: 0px auto;
    }
  }

  &__attach {
    position: relative;
    padding-right: 30px;
    font-size: 16px;
    line-height: 1.5;

    @include media-w($lg) {
      font-size: 12px;
      padding-right: 28px;
      margin-left: 3px;
    }

    @include media-w($smx) {
      position: absolute;
      right: 30%;
      bottom: 120px;
    }

    @include media-w($smz) {
      bottom: 107px;
      left: 12px;
    }

    &::after {
      position: absolute;
      content: '';
      right: 0;
      top: 0;
      width: 20px;
      height: 20px;
      background-image: url(../images/request/clip.png);
      @extend %bg-center-cover;

      @include media-w($lg) {
        width: 18px;
        height: 18px;
      }

      @include media-w($smz) {
        left: 118px;
      }
    }
  }
}